.container{
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container h1 {
    padding: 6px 6px;
    font-size: 14px;
    background: #029ca6;
    border-radius: 12px 12px 0 0;
}

.container select{
    position: relative;
    background: #f1f1f1;
    font-size: 14px;
}