.card {
    width: 250px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 2%;
    text-align: center;
    transition: all 0.25s;
    background: #f1f1f1;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.img {
    width: 250px;
    height: 220px;
}

.name {
    color: #029ca6;
    font-weight: 660;
}

.weight{
    font-weight: 500;
}

.weightProps {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 250;
}

.enlace {
    font-size: 16px;
    font-weight: 250;
    color: #2f6c98;
    text-decoration: none;
}

