.card {
    width: 1200px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    margin: 5%;
    text-align: center;
    /* transition: all 0.25s; */
    background: #f1f1f1;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img {
    width: 60%;
    height: 100%;
    background-size: cover;
}

.container {
    width: 40%;
    height: 100%;
    display: grid;
    /* padding: 10px 15px; */
}

.name {
    color: #029ca6;
}

.container span {
    color: black;
    font-size:15px;
}