.card {
    width: 1200px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    margin: 4%;
    text-align: center;
    background: #f1f1f1;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img {
    width: 60%;
    height: 100%;
    background-size: cover;
}

.container {
    width: 40%;
    height: 100%;
    display: flexbox;
    padding: 10px 15px;
}

.name {
    color: #2e6189;
}

.container p{
    color: #029ca6;
    font-size: 15px;
}

.container span {
    color: black;
    font-size:15px;
}