.form {
    width: 500px;
    margin: auto;
    background: #f1f1f1;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    font-size: 20px;
}

.form select {
    width: 50%;
}

.img {
    height: 15px;
}

.error {
    position: relative;
    cursor: pointer;
    padding: 7px;
}

.span {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.span::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000;
}

.error:hover .span {
    top: -150%;
    visibility: visible;
    opacity: 1;
}

.submitButton {
    border-radius: 12px 12px 12px 12px;
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
    background: #029ca6;
    color: #f1f1f1;
    cursor: pointer;
}

.submitButton:hover {
    background: #2e6189;
    transition: .5s;
}

.xButton {
    border-radius: 2px 2px 2px 2px;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background: #029ca6;
    color: #f1f1f1;
    cursor: pointer;
}

.xButton:hover {
    background: #2e6189;
    transition: .5s;
}

body.active-modal {
    overflow-y: hidden;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.imgNotCreate{
    height: 150px;
}

.imgCreate{
    height: 150px;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modalContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.closeModal{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background: #029ca6;
    color: #f1f1f1;
    cursor: pointer;
}

.closeModal:hover{
    background: #2e6189;
    transition: .5s;
}